---
layout: post-index
title: Better javascript workflow with jake js
description: "Describe this nonsense."
tags: [JavaScript, Jake Js, Build, NodeJs]
comments: false
---
{% for post in paginator.posts %}
<div class="date-outer">
    <div class="date-posts">
        <div class="post-outer">
            <div class="post hentry">
                <div class="post-body entry-content">
                    <div id="summary">
                        <div class="category-links" style="background:#00C3F4;">
                            {% for tag in post.tags %}
                            <a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a>
                            {% unless forloop.last %}{% endunless %},&nbsp;
                            {% endfor %}
                        </div>
                        <div class="post-summary" style="border-top:8px solid #00C3F4;">
                            {% if post.image %}
                                <a href="#">
                                    <img src="{{ post.image }}" style="width:850px;height:433px" />
                                </a>
                            {% endif %}
                        </div>
                        <div class="post-content" style="padding:35px">
                            <h2>
                                <span>
                                    <a title="{{ post.title }}" href="#" style="color:#000">{{ post.title }}</a>
                                </span>
                            </h2>
                            <div class="post-meta">
                                <span> Posted On : <span> {{ post.date | date: "%B %d, %Y" }} </span></span>
                                <span style="color:#00C3F4;"> 0 Comments</span>
                            </div>
                            <p>
                                {{ post.content | truncatewords: 100 }}
                            </p>
                            <p class="greytext"></p>
                            <a style="background:#00C3F4;" href="#" class="text-center button pink">Read More</a>
                        </div>
                        <div style="clear:both"></div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <div class="post-footer">
                    <div class="post-footer-line post-footer-line-1">
                        <div class="post-share">
                            <a class="tips" data-title="Facebook" href="http://www.facebook.com/sharer.php?u=http://simplify-themexpose.blogspot.ae/2014/07/duis-quis-erat-non-nunc-fringilla.html" target="_blank" data-original-title="" title=""><span class="share-box"><i class="fa fa-facebook"></i></span></a>
                            <a class="tips" data-title="Twitter" href="http://twitter.com/share?url=http://simplify-themexpose.blogspot.ae/2014/07/duis-quis-erat-non-nunc-fringilla.html" target="_blank" data-original-title="" title=""><span class="share-box"><i class="fa fa-twitter"></i></span></a>
                            <a class="tips" data-title="Linkedin" href="#" target="_blank" data-original-title="" title=""><span class="share-box"><i class="fa fa-linkedin"></i></span></a>
                            <a class="tips" data-title="Reddit" href="http://reddit.com/submit?&amp;url=http://simplify-themexpose.blogspot.ae/2014/07/duis-quis-erat-non-nunc-fringilla.html&amp;title=Duis quis erat non nunc fringilla" rel="nofollow" data-original-title="" title=""><span class="share-box"><i class="fa fa-reddit"></i></span></a>
                            <a class="tips" data-title="Pinterest" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" target="_blank" data-original-title="" title=""><span class="share-box"><i class="fa fa-pinterest"></i></span></a>
                            <a class="tips" data-title="Google+" href="https://plus.google.com/share?url=http://simplify-themexpose.blogspot.ae/2014/07/duis-quis-erat-non-nunc-fringilla.html" target="_blank" data-original-title="" title=""><span class="share-box"><i class="fa fa-google-plus"></i></span></a>
                            <a class="tips" data-title="Comments" href="http://simplify-themexpose.blogspot.ae/2014/07/duis-quis-erat-non-nunc-fringilla.html" data-original-title="" title=""><span class="share-box"><i class="fa fa-comment-o"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
