<aside class="span4">
    <div class="sidebar">
        <div class="row">
            <div class="sidebar-section section">
                <div class="widget HTML">
                    <h2 class="title"><span>About me</span></h2>
                    <div class="widget-content">
                        <div class="about-me-img">
                            <img src="assets/images/profile.png" alt="" />
                        </div>
						<br/>
                        <div class="about-me-text">
							
						</div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</aside>