body {
	font-size: 14px;
    line-height: 20px;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Tahoma;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px transparent;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    background-color: #FFFFFF;
    background-image: url("http://3.bp.blogspot.com/-ogHIGc80rng/VD7swhxr94I/AAAAAAAACP4/-dy9rbPVENA/s1600/pat-17.png");
    background-position: center center;
    background-repeat: repeat;
}


section, nav, article, aside, hgroup, header, footer {
    display: block;
}

p {
  color: #99a1a9;
  margin: 0 0 10px;  
}

.header {
    margin-bottom: 0px;
    position: relative;
    margin-top: 38px;
    padding: 0px 0 22px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 1145px;
}

.container:before, 
.container:after {
    display: table;
    line-height: 0;
    content: "";
}

.logo {
    float: left;
    display: table;
    height: 95px;
    margin-top: -27px;
    margin-bottom: 0;
    margin-left: 0;
}

#header-inner {
    display: table;
    float: left;
    height: 95px;
}

.titlewrapper .title{
    font-size: 37px;
    line-height: 37px;
    font-weight:  normal!important;
    text-transform: capitalize;
    font-family: 'SugarPie',"Open Sans",Tahoma,sans-serif;
}

.titlewrapper h1 {
    padding: 15px 0;
}


.btn {
    border: medium none !important;
    box-shadow: none !important;
    background-image: none !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    position: absolute;
    text-align: center;
    top: 85px;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    vertical-align: middle;
    cursor: pointer;
    background-color: #F5F5F5;
    background-repeat: repeat-x;
    display: none;
    height: 40px;
    width: 40px;
}

.btn:hover, btn:focus {
    color: #333;
    background-color: #E6E6E6;
    text-decoration: none;
    background-position: 0px -15px;
    transition: background-position 0.1s linear 0s;
}

.main-nav {
    float: right;
}

.main-nav ul {
    margin: 0;
}

.main-nav li.active {
    background: #ff304e;
    border-radius: 3px;
    color: #fff;
}

.main-nav ul li {
    padding-left: 0 !important;
    position: relative;
    list-style: none;
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 2px;
}

.main-nav ul li a {
    display: block;
    background: transparent !important;
    color: #333;
    text-align: center;
    line-height: 39px;
    text-transform: capitalize;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 9px;
    border-radius: 3px;
}

.main-content {
    padding-bottom: 100px;
}

.row {
    margin-left: -30px;
}

.span8 {
    width: 785px;
    position: relative;
}

.span4 {
    width: 330px;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
}

.clear {
    clear: both;
    display: block;
}

.post.hentry {
    position: relative;
    margin-bottom: 40px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

@media only screen and (max-width: 980px) {
    .main-nav ul li {
        width: 100%;
        height: auto !important;
        border-bottom: medium none;
    }
    .main-nav ul li a {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid #EAEAEA;
        text-align: left;
        color: #6A6A6A !important;
    }   
    nav.main-nav {
        display: none !important;
    }
}

@media only screen and (max-width:480px) {
   .container {
        width: 300px;
   }
   .logo {
       float: none !important;
       margin: 0px auto !important;
   }
   .btn {
        display: block;
        left: 3%;
        top: 20px;
    }
    .nav.main-nav {
        float: none;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
        overflow: hidden;
    }
    .row {
        margin-left: 0;
    }
    [class*="span"] {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
    }
}

@media only screen and (max-width:768px) and (min-width: 481px) {
    .container {
        width: 420px;
    }
    .logo {
       float: none !important;
       margin: 0px auto !important;
    }
    .btn {
        display: block;
        left: 3%;
        top: 20px;
    }
    .row {
        margin-left: -15px;
    }
    [class*="span"] {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
    }
}


@media only screen and (max-width:980px) and (min-width: 769px) {
    .container {
        width: 724px;
    }
    .logo {
       float: none !important;
       margin: 0px auto !important;
    }
    .btn {
        display: block;
        left: 3%;
        top: 20px;
    }
    .row {
        margin-left: -25px;
    }
    .span8 {
        width: 476px;
    }
    [class*="span"] {
        margin-left: 20px;
    }
    .span4 {
        width: 228px;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .container {
        width: 940px;
    }
    [class*="span"] {
        margin-left: 20px;
    }
    .span4 {
        width: 300px;
    }
    .span8 {
        width: 620px;
    }
}

@media only screen and (min-width: 981px) {
    nav.main-nav {
        display: block !important;
    }
}